<%= form_with(model: order, local: true) do |form| %>
  <div class="form-group"> 
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field col-xs-6">
      <%= form.label :order_no %>
      <%= form.text_field :order_no, class:"form-control" %>
    </div>

    <div class="field col-xs-6">
      <%= form.label :delivery_date %>
      <%= form.date_select :delivery_date%>
    </div>

    <div class="field col-xs-12">
      <%= form.label :special_instruction %>
      <%= form.text_field :special_instruction, class:"form-control" %>
    </div>

    <div class="field col-xs-6">
      <%= form.label :tracking_number %>
      <%= form.number_field :tracking_number, class:"form-control" %>
    </div>

    <div class="field col-xs-6">
      <%= form.label :order_total %>
      <%= form.text_field :order_total, class:"form-control" %>
    </div>

    <div class="field col-xs-6">
      <%= form.label :discount %>
      <%= form.text_field :discount, class:"form-control" %>
    </div>

    <div class="field col-xs-12" >
      <%= form.label :product_id %>
      <%= form.select :product_id, options_for_select(Product.all.collect{|c| [c.name,c.id]}) %>
    </div>   

    <div class="field col-xs-2" >
      <%= form.label :user_id %>
      <%= form.select :user_id, options_for_select(User.all.collect{|c| [c.firstname,c.id]})%>
    </div>   

    <div class="field col-xs-6" >
      <%= form.label :address_id %>
      <%= form.select :address_id, options_for_select(Address.all.collect{|c| [c.line1,c.id]})%>
    </div>   

    <div class="actions col-xs-6">
      <%= form.submit  class: 'btn btn-primary btn-lg' %>
    </div>

  <div>
<% end %>




