<p id="notice"><%= notice %></p>

<h1>Orders</h1>


<Button class="btn btn-default float-right"><%= link_to 'New Order', new_order_path %></button>
<hr>

<% if logged_in? && current_user.admin? %> 
  <% @orders = Order.all%>
<% else %>
  <% @orders = Order.where(:user_id => current_user.id)%>
<% end %>

<h2>Total Orders:<%= @orders.all.count %> </h2>
<table class="table table-bordered">
<thead class="thead-dark">
    <tr>
      <th>Order no</th>
      <th>Delivery date</th>
      <th>Special instruction</th>
      <th>Tracking number</th>
      <th>Order-total</th>
      <th>Discount</th>
      <th>Product</th>
      <th>Created by</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_no %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.special_instruction %></td>
        <td><%= order.tracking_number %></td>
        <td><%= order.order_total %></td>
        <td><%= order.discount %></td>
        <td><%= order.product_id %></td>
        <td><%= order.user.firstname %></td>
        <td><%= link_to 'Show', order %></td>      
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      
        </tr>
    <% end %>
  </tbody>
</table>

