<p id="notice"><%= notice %></p>



<p>
  <strong>Order no:</strong>
  <%= @order.order_no %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Special instruction:</strong>
  <%= @order.special_instruction %>
</p>

<p>
  <strong>Tracking number:</strong>
  <%= @order.tracking_number %>
</p>

<p>
  <strong>Order_total:</strong>
  <%= @order.order_total %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product_id %>
</p>

<p>
  <strong>Billing Address:</strong>
  <%= @order.address.line1 %>
</p>

<Button class="btn btn-default"> <%= link_to 'Edit', edit_order_path(@order) %> </Button>
<Button class="btn btn-default"> <%= link_to 'Back', orders_path %></Button>
