<p id="notice"><%= notice %></p>

<div class="container-fluid">
   <h1>Order Details</h1>
   <hr>
   <div class="row">
    <div class="col-sm-4">


      <p>
        <strong>Customer name:</strong>
        <%= @order.user_id %>
      </p>

      <p>
        <strong>Order no:</strong>
        <%= @order.order_no %>
      </p>
    
      <p>
        <strong>Delivery date:</strong>
        <%= @order.delivery_date %>
      </p>
    
      <p>
        <strong>Special instruction:</strong>
        <%= @order.special_instruction %>
      </p>
    
      <p>
       <strong>Tracking number:</strong>
       <%= @order.tracking_number %>
      </p>
    
     
      <p>
        <strong>Discount:</strong>
        <%= @order.discount %>
      </p>
       
    </div>
    <div class="col-sm-4" >
      <p>
        <strong>Billing Address:</strong><br>
        <%= @order.address.line1 %><br>
        <%= @order.address.line2 %>,<br>
        <%= @order.address.line3 %>,<br>
        <%= @order.address.city%>,
        <%= @order.address.district %>,
        <%= @order.address.state %><br>
        <%= @order.address.country %>,
        <%= @order.address.zip_code %>
      </p>
    </div>
    <div class="col-sm-4" >
      <p>
        <strong>Shipping Address:</strong><br>
        <%= @order.address.line1 %><br>
        <%= @order.address.line2 %>,<br>
        <%= @order.address.line3 %>,<br>
        <%= @order.address.city%>,
        <%= @order.address.district %>,
        <%= @order.address.state %><br>
        <%= @order.address.country %>,
        <%= @order.address.zip_code %>
      </p> 
    </div>
   </div>
  
  <br>
  <div>
    <h4>Products</h4><p>
      <strong>Product:</strong>
      <%= @order.product_id %>
      <strong>id</strong>
      <%= @order.order_products.first.product_id%>
      <strong>Product Quntity:</strong>
      <%= @order.order_products.first.quntity%> 
    </p>
  </div>
  <hr>
  <div align=right>
    <p>
      <strong>Total:</strong>
      <%= @order.order_total+@order.discount %>
    </p>
    <p>
      <strong>Discount:</strong>
      <%= @order.discount %>
    </p>
      <h4><b>Sub Total:</b>  
        <%= @order.order_total %> 
      </h4>
        <%#= @order.products.order_currency %>
  </div>
  <hr>
  <div>
    <h4><b>Log</b><h4>
    <p>
      <strong>Created at:</strong>
      <%= @order.created_at %>
    </p>
    <p>
      <strong> Updated at:</strong>
      <%= @order.updated_at %>
    </p>
    <p>
      updated
      <%= distance_of_time_in_words(@order.created_at, @order.updated_at)  %>
    </p>
  </div>
  <br>
 
   
  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-print"></span>
    <%= link_to 'Print Invoice', order_path(@order,format:"pdf") %>
  </button>

  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-edit"></span> 
    <%= link_to 'Edit Order', edit_order_path(@order) %> 
  </Button>

  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-backward"></span>
    <%= link_to 'Back', orders_path %></Button>
  </button>

  </div>
