<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, :value=> "#{current_user.id}", :readonly=>true ,:disabled=>true%>
  </div>

  <div class="field">
    <%= form.label :line1 %>
    <%= form.text_field :line1 %>
  </div>

  <div class="field">
    <%= form.label :line2 %>
    <%= form.text_field :line2 %>
  </div>

  <div class="field">
    <%= form.label :line3 %>
    <%= form.text_field :line3 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.number_field :zip_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
