<p id="notice"><%= notice %></p>


<div class="jumbotron">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <td><%= image_tag(@product.images,:size=>'300x300') %></td>
        </p>
      </div>
      <div class="col-sm-6" >
        <p>
          <strong>Name:</strong>
          <%= @product.name %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <p>
          <strong>Inbox:</strong>
          <%= @product.inbox %>
        </p>
        <p>
          <strong>Sku:</strong>
          <%= @product.sku %>
        </p>
        <p>
          <strong>Quantity:</strong>
          <%= @product.quantity %>
        </p>
        <p>
          <strong>Unit Price:</strong>
          <%= @product.currency %>  <%= @product.price %>
        </p>
      </div>
</div>
  <Button class="btn btn-default col-md-6">
    <%= link_to 'Edit', edit_product_path(@product) %>
  </Button>   
  <Button class="btn btn-default col-md-6">
    <%= link_to 'Back', products_path %>
  <Button>   
</div>
</div>

