<div class="row">
	<div class="col-md-2"><%= order_product.product.name %></div>
	<div class="col-md-2"><%= order_product.product.sku %></div>
	<div class="col-md-2"><%= order_product.product.price %></div>
	<div class="col-md-2"><%= order_product.quantity %></div>
	<div class="col-md-2"><%= order_product.quantity * order_product.product.price %></div>
<hr>
</div>